.listaContacto{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Avenir",Arial, Helvetica, sans-serif; 
    display: grid;
    place-items: center;
    margin-bottom: 10%;
}
.infoContacto{
    width: 90%;
    color: black;
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    color: black;
    text-decoration: none;
    font-size: 20px;
}



.infoContacto ion-icon{
    height: 25px;
}

.contactoespacio{
    display: flex;
    justify-content: space-between !important;
}