.containerNosotros{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 4%;
}

.containerNosotros div{
    width: 50%;
    border: 1px solid #e0cbcb;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2%;
    margin: 0 auto 0 auto;
    font-family: "Avenir",Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
    padding-left: 2%;

}

.containerNosotros div h1{
    color: var(--salmon-);
}

#nosotrosIngles{
    display: none;
}